<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="bluerov2_heavy_urdf" params="prefix">


    <link name="${prefix}base_link">
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.011" />
        <mass value="13.0" />
        <inertia
          ixx="0.26"
          ixy="0"
          ixz="0"
          iyy="0.23"
          iyz="0"
          izz="0.37"
        />
      </inertial>
      <visual>
        <geometry>
          <mesh
            filename="file://$(find bluerov2_cirtesu_core)/resources/bluerov2_heavy/bluerov2_heavy.dae"
            scale="0.025 0.025 0.025"
          />
        </geometry>
        <origin rpy="3.1416 0 0" xyz="0 0 0" />       <!-- Change this line to use NED coordinates (stonefish) -->
      </visual>
      <collision name="base_link_collision">
        <geometry>
          <box size="0.457 0.575 0.05" />
        </geometry>
        <origin rpy="3.1416 0 0" xyz="0 0 0.06" />    <!-- Change this line to use NED coordinates (stonefish) -->
      </collision>
    </link>
    
    <link name="${prefix}zed_camera_link">
    </link>
    <link name="${prefix}zed_camera_link1">
    </link>

    <link name="${prefix}ping2_right">
    </link>

    <link name="${prefix}ping2_left">
    </link>
    
    <!-- Define the fixed joint between base_link and zed_camera_link -->
    <joint name="base_to_zed" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}zed_camera_link"/>
      <origin xyz="0.0 -0.1 0.20" rpy="1.57 0 0"/>  <!-- Position and orientation of ZED relative to base_link -->
    </joint>

    <!-- Define the fixed joint between base_link and zed_camera_link -->
    <joint name="base_to_zed1" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}zed_camera_link1"/>
      <origin xyz="0.0 -0.1 0.20" rpy="1.57 0 0.0"/>  <!-- Position and orientation of ZED relative to base_link -->
    </joint>

    <!-- Define the fixed joint between base_link and ping2 -->
    <joint name="base_to_ping_left" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}ping2_left"/>
      <origin xyz="0.0 -0.1 0.20" rpy="0 0 -2.09"/>  <!-- Position and orientation of ping2 relative to base_link -->
    </joint>

    <!-- Define the fixed joint between base_link and ping2 -->
    <joint name="base_to_ping_right" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}ping2_right"/>
      <origin xyz="0.0 -0.1 0.20" rpy="0 0.0 -1.04"/>  <!-- Position and orientation of ping2 relative to base_link -->
    </joint>


    <!-- Import camera macro -->
    <!--xacro:include filename="$(find blue_description)/description/camera/urdf.xacro" />

    <xacro:camera_urdf prefix="${prefix}" parent="${prefix}base_link">
      <origin rpy="0 0 0" xyz="0.21 0 0.067" />
    </xacro:camera_urdf-->

    <!-- Import T200 macro -->
    <xacro:include filename="$(find bluerov2_cirtesu_core)/urdf/t200/urdf.xacro" />

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="1">
      <origin rpy="-1.571 1.571 -0.785" xyz="0.14 -0.092 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="2">
      <origin rpy="-1.571 1.571 -2.356" xyz="0.14 0.092 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="3">
      <origin rpy="-1.571 1.571 0.785" xyz="-0.15 -0.092 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="4">
      <origin rpy="-1.571 1.571 2.356" xyz="-0.15 0.092 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="5">
      <origin rpy="0 0 0" xyz="0.118 -0.215 -0.064" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="6">
      <origin rpy="0 0 0" xyz="0.118 0.215 -0.064" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="7">
      <origin rpy="0 0 0" xyz="-0.118 -0.215 -0.064" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="8">
      <origin rpy="0 0 0" xyz="-0.118 0.215 -0.064" />
    </xacro:t200_urdf>

  </xacro:macro>
</robot>